:root {
  --text-color: #393E41;
  --emphasis-color: #E94F37;
  --background-color: #F6F7EB;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button,
input {
  font: inherit;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1, h2 {
  color: var(--emphasis-color);
}

/*HEADER*/

header {
  padding: 32px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.link {
  --link-color: var(--text-color);
  background: none;
  border: none;
  cursor: pointer;
  color: var(--link-color);
  font-weight: 600;
  font-size: 1.5rem;
  position: relative;
  transition: color 0.2s;
}

.link::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--link-color);
  transform: scaleX(0);
  transition: transform 0.3s, background-color 0.2s;
}

.link.active,
.link.active::before {
  --link-color: var(--emphasis-color);
}

.link.active::before, .link:hover::before {
  transform: scaleX(1);
}