#home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home h1 {
  font-size: 3rem;
  font-family: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
}

#home p {
  width: 750px;
  line-height: 1.5;
}

.credit {
  font-size: 0.8rem;
  text-align: center;
}

a:link {
  color: var(--emphasis-color);
}

a:visited {
  color: var(--text-color);
}

a:hover {
  text-decoration: none;
}

#home img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
}